{% extends 'layout.html' %}

{% block pageTitle %}
Are you the person? | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/case/about-you/personal-details/contact-details/contact-details" accept-charset="UTF-8" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Are you <span class="nhsuk-highlight">{{ data['positive-case-name'] | default('John Richardson')}}</span>?
            </h1>
          </legend>

          <div class="nhsuk-radios" data-module="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input id="episode-proxy-present-false-field" class="nhsuk-radios__input" type="radio" value="Yes, I am" name="proxy">
              <label for="episode-proxy-present-false-field" class="nhsuk-label nhsuk-radios__label">
                Yes, I am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input id="episode-proxy-present-true-field" class="nhsuk-radios__input" type="radio" value="No, I am completing this for them" name="proxy">
              <label for="episode-proxy-present-true-field" class="nhsuk-label nhsuk-radios__label">
                No, I am completing this for them
              </label>
            </div>

        </fieldset>
      </div>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

<script type="text/javascript">

</script>
{% endblock %}
