{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-heading-l">
        Check your answers before submitting your information
      </h1>
    </div>

    <div class="nhsuk-u-width-two-thirds">
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jacqueline Richardson
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            jacqueline.richardson@example.com
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> your email address</span>
            </a>
          </dd>
        </div>

      </dl>
    </div>

    <h2 class="nhsuk-heading-m">
      Now submit your information
    </h2>

    <div class="nhsuk-u-reading-width">
      <p class="nhsuk-body">
        By submitting this information you are confirming that all the details are correct and as they appear on your health record, to the best of your knowledge.
      </p>
    </div>

    <form action="#" accept-charset="UTF-8" method="post">

      <button class="nhsuk-button" type="submit">
        Submit your information
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
