{% extends 'layout.html' %}

{% block pageTitle %}
Do you have an email address? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" id="know-email-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" hidden>
    </div>

    <form name="myForm" action="/case/household/contacts/phone" onsubmit="return validateForm()" method="post" required>

      <div class="govuk-form-group" id="know-email-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have an email address?
            </h1>
          </legend>

          <span class="govuk-error-message" id="know-email-error-message">
          </span>

          <div class="govuk-radios govuk-radios--conditional">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="email-address-another" name="contact-email-address-1" type="radio" aria-controls="conditional-contact-1" aria-expanded="false" value=""
                {{ checked("contact-email-address-1", "Another email address") }}>
              <label class="govuk-label govuk-radios__label" for="email-address-another">
                Yes
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-1">

              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email" name="contact-email-1" type="email" value="{{ data['contact-email-1'] }}">
              </div>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="email-address-no" name="contact-email-address-1" type="radio" value="No email address" {{ checked("contact-email-address-1", "No email address") }}>
              <label class="govuk-label govuk-radios__label" for="email-address-no">
                No, I do not have an email address
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <button class="govuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

<script>
  // Errors
  function validateForm() {
    var knowPhone = document.forms["myForm"]["contact-email-address-known-1"].value;

    if (knowPhone == "" || knowPhone == null) {

      // Error form group styling
      var formGroup = document.getElementById("know-email-form-group");
      formGroup.classList.add("govuk-form-group--error");

      // Error message
      document.getElementById("know-email-error-message").innerHTML = '<span class="govuk-!-visually-hidden">Error:</span> Select yes if you know their email address';

      // Error summary
      var errorSummary = document.getElementById("know-email-error-summary");
      errorSummary.innerHTML =
        '<h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2><div class="govuk-error-summary__body"><ul class="govuk-list govuk-error-summary__list"><li><a href="#know-email-error-message">Select yes if you know their email address</a></li></ul></div>';
      errorSummary.style.display = 'block';
      errorSummary.focus();
      return false;
    }
  }
</script>
{% endblock %}
