{% extends 'layout.html' %}

{% block pageTitle %}
Symptoms | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()" style="padding-left: 0;">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">
      Symptoms
    </h1>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Last chance to make changes
        </span>
      </h3>
      <p>Make sure the symptoms and start date you provide are correct. You will not be able to change this information after you select 'Continue'.</p>
    </div>

    <div class="nhsuk-u-reading-width">

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Your symptoms
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>New, continuous cough</p>
            <p>High temperature or fever<br><span style="color: #4c6272">(You feel hot to touch on your chest or back)</span></p>
            <p>Sore throat</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> your symptoms</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Symptoms start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            Sunday 27 June 2021
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">
              Change<span class="nhsuk-u-visually-hidden"> symptoms start date</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Tested positive for COVID-19
          </dt>
          <dd class="nhsuk-summary-list__value">
            Tuesday 29 June 2021
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>

      </dl>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              Are your symptoms and start date correct?
            </h2>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="lived-with-others-1" name="nhs-number" type="radio" value="yes" onclick="yes();">
              <label class="nhsuk-label nhsuk-radios__label" for="lived-with-others-1">
                Yes, my symptoms and start date are correct
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="lived-with-others-2" name="nhs-number" type="radio" value="no" onclick="no();">
              <label class="nhsuk-label nhsuk-radios__label" for="lived-with-others-2">
                No, I need to make a change
              </label>
            </div>

          </div>

        </fieldset>
      </div>

    </div>

    <button class="nhsuk-button" type="submit">
      Continue
    </button>

  </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
