{% extends 'layout.html' %}

{% block pageTitle %}
Do you have any of these symptoms? | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card nhsuk-card--confirmation confirmation-display" id="proxy-banner" hidden>
    </div>

    <form action="/case/about-you/advice-and-support/advice" accept-charset="UTF-8" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="episode-had-symptoms-hint">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you have any of these symptoms?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="episode-had-symptoms-hint">
            Select all the symptoms you have.
          </div>

          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional" data-module="nhsuk-checkboxes">

            <div class="nhsuk-checkboxes__item">
              <input id="episode-cough-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[cough]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-cough-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                New, continuous cough
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-fever-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[fever]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-fever-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                High temperature or fever
              </label>
              <div class="nhsuk-hint nhsuk-checkboxes__hint">
                You feel hot to touch on your chest or back
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-loss-of-smell-or-taste-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[loss_of_smell_or_taste]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-loss-of-smell-or-taste-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Loss or change to your sense of smell or taste
              </label>
              <div class="nhsuk-hint nhsuk-checkboxes__hint">
                You cannot smell or taste anything, or things smell or taste different from normal
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-shortness-of-breath-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[shortness_of_breath]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-shortness-of-breath-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Shortness of breath
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-muscle-ache-or-joint-pain-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[muscle_ache_or_joint_pain]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-muscle-ache-or-joint-pain-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Muscle ache or joint pain
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-sneezing-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[sneezing]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-sneezing-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Sneezing
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-sore-throat-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[sore_throat]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-sore-throat-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Sore throat
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-runny-nose-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[runny_nose]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-runny-nose-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Runny nose
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-headache-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[headache]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-headache-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Headache
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-red-or-irritated-eye-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[red_or_irritated_eye]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-red-or-irritated-eye-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Red or irritated eye
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-loss-of-appetite-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[loss_of_appetite]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-loss-of-appetite-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Loss of appetite
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-nausea-or-vomiting-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[nausea_or_vomiting]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-nausea-or-vomiting-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Feeling sick (nausea) or being sick (vomiting)
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-diarrhoea-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[diarrhoea]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-diarrhoea-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Diarrhoea
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-altered-consciousness-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[altered_consciousness]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-altered-consciousness-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Confusion or disorientation
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-fatigue-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[fatigue]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-fatigue-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Feeling very tired
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-rash-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="true" name="episode[rash]" data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-rash-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                Rash
              </label>
            </div>

            <div class="nhsuk-checkboxes__divider">
              or
            </div>

            <div class="nhsuk-checkboxes__item">
              <input id="episode-had-no-symptoms-true-field" class="nhsuk-checkboxes__input" type="checkbox" value="none" name="episode[had_no_symptoms]" data-checkbox-exclusive data-checkbox-exclusive-group="symptoms-list">
              <label for="episode-had-no-symptoms-true-field" class="nhsuk-label nhsuk-checkboxes__label">
                No, I do not have any of these symptoms
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="episode-first-symptomatic-at-hint">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              If you are experiencing any of the above symptoms, when did they start?
            </h2>
          </legend>

          <span class="nhsuk-hint" id="episode-first-symptomatic-at-hint">
            For example, 01 12 2021
          </span>

          <div data-controller="date-field-validator">
            <div class="nhsuk-date-input">

              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="episode_first_symptomatic_at_3i">
                    Day
                  </label>
                  <input id="episode_first_symptomatic_at_3i" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" name="symptom-start-day" type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['symptom-start-day'] }}">
                </div>
              </div>

              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="episode_first_symptomatic_at_2i">
                    Month
                  </label>
                  <input id="episode_first_symptomatic_at_2i" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" name="symptom-start-month" type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['symptom-start-month'] }}">
                </div>
              </div>

              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="episode_first_symptomatic_at_1i">
                    Year
                  </label>
                  <input id="episode_first_symptomatic_at_1i" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" name="symptom-start-year" type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['symptom-start-year'] }}">
                </div>
              </div>

            </div>
          </div>

        </fieldset>
      </div>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Correct information
          </span>
        </h3>
        <div class="nhsuk-u-reading-width">
          <p class="nhsuk-u-margin-bottom-0">
            Make sure the information you have provided is correct. You will not be able to change your answers after you select continue.
          </p>
        </div>
      </div>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>


<script type="text/javascript">
  // Proxy check
  window.onload = function() {
    var proxyValue = "{{ data['proxy'] }}";

    if (proxyValue == "No, I am completing this for them") {
      var proxyBanner = document.getElementById("proxy-banner");
      proxyBanner.style.display = 'block';
      document.getElementById("proxy-banner").innerHTML =
        '<div class="nhsuk-card__content content-display"><div class="icon-wrapper"><p>i</p></div><div><p class="nhsuk-card__title nhsuk-u-margin-bottom-0">Enter this information as if you are <strong>{{ data["positive-case-first-name"] | default("John")}} {{ data["positive-case-last-name"] | default("Richardson")}}</strong></p></div></div>';
      return false;
    }
  }
</script>
{% endblock %}
