{% extends 'layout.html' %}

{% block pageTitle %}
Cookies
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your cookie settings were saved
        </h3>
        <p class="govuk-body">
          Government services may set additional cookies and, if so, will have their own cookie policy and banner.
        </p>
        <p class="govuk-body">
          <a class="govuk-link govuk-notification-banner__link cookie-settings__prev-page" href="#" data-module="gem-track-click" data-track-category="cookieSettings" data-track-action="Back to previous page"
            data-gem-track-click-module-started="true">Go back to the page you were looking at</a>
        </p>
      </div>
    </div>

    <h1 class="govuk-heading-xl">
      Cookies
    </h1>

    <p>
      Cookies are files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p>
      We use cookies to collect and store information about how you use the GOV.UK website and government digital services, such as the pages you visit. 'Government digital services' means any page with service.gov.uk in the URL.
    </p>
    <p>
      This page has a brief explanation of each type of cookie we use. If you want more details, <a href="#"> read our detailed cookie information</a>.
    </p>

    <h2 class="govuk-heading-m">
      Cookie settings
    </h2>

    <p class="govuk-body">
      We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>reloading the page</li>
      <li>turning on Javascript in your browser</li>
    </ul>

    <p class="govuk-body">
      We use 1 type of cookie.
    </p>

    <h2 class="govuk-heading-m">
      Strictly necessary cookies
    </h2>
    <p class="govuk-body">
      These essential cookies do things like remember your progress through a form (for example a licence application)
    </p>
    <p class="govuk-body">
      They always need to be on.
    </p>

  </div>
</div>
{% endblock %}
