{% extends 'layout.html' %}

{% block pageTitle %}
Cookies
{% endblock %}

{% block header %}
<div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="" data-cookie-banner-module-started="true" style="display: block;">
  <div class="govuk-cookie-banner js-banner-wrapper" role="region" aria-label="Cookies on GOV.UK">
    <div class="gem-c-cookie-banner__message govuk-cookie-banner__message govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-cookie-banner__heading govuk-heading-m">
            Cookies on GOV.UK
          </h2>

          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">
              We use some essential cookies to make this website work.
            </p>
            <p class="govuk-body">
              We’d like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.
            </p>
            <p class="govuk-body">
              We also use cookies set by other sites to help us deliver content from their services.
            </p>
          </div>

        </div>
      </div>

      <div class="govuk-button-group">

        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all"
          data-gem-track-click-module-started="true" style="display: block;">Accept additional cookies</button>

        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-reject-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner rejected" data-gem-track-click-module-started="true"
          style="display: block;">Reject additional cookies</button>

        <a class="govuk-link" href="/help/cookies">View cookies</a>

      </div>

    </div>
  </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" hidden="">
    <p class="gem-c-cookie-banner__confirmation-message" role="alert">You can <a class="govuk-link" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation"
        href="/help/cookies" data-gem-track-click-module-started="true">change your cookie settings</a> at any time.</p>
    <div class="govuk-button-group">
      <button class="gem-c-cookie-banner__hide-button govuk-button" data-hide-cookie-banner="true" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner" data-gem-track-click-module-started="true">Hide
        this message</button>
    </div>
  </div>
</div>

<div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="" data-cookie-banner-module-started="true" style="display: block;">
  <div class="govuk-cookie-banner js-banner-wrapper" role="region" aria-label="Cookies on GOV.UK" hidden="">
    <div class="gem-c-cookie-banner__message govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK</h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this website work.</p>
            <p class="govuk-body">We’d like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.</p>
            <p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">

        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all"
          data-gem-track-click-module-started="true" style="display: block;">
          Accept additional cookies
        </button>

        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-reject-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner rejected" data-gem-track-click-module-started="true"
          style="display: block;">Reject additional cookies</button>

        <a class="govuk-link" href="/help/cookies">View cookies</a>
      </div>
    </div>
  </div>
  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" style="display: block;">
    <p class="gem-c-cookie-banner__confirmation-message" role="alert">
      You have accepted additional cookies. You can <a class="govuk-link" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation" href="/help/cookies"
        data-gem-track-click-module-started="true">change your cookie settings</a> at any time.
    </p>
    <div class="govuk-button-group">
      <button class="gem-c-cookie-banner__hide-button govuk-button" data-hide-cookie-banner="true" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner" data-gem-track-click-module-started="true">
        Hide this message
      </button>
    </div>
  </div>
</div>
{% endblock %}
