{% extends 'layout.html' %}

{% block pageTitle %}
Personal details | NHS Test and Trace
{% endblock %}

{% block outerContent %}
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
  <a class="nhsuk-back-link__link" href="#" data-turbolinks="false" onclick="goBack()" style="padding-left: 0;">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div data-controller="profile">
      <form action="/about-you/date-of-birth/date-of-birth" accept-charset="UTF-8" method="post">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">

            <div class="nhsuk-u-reading-width">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  What is your phone number?
                </h1>
              </legend>
            </div>

            <!--<div class="nhsuk-form-group">
              <label for="individual-email-field" class="nhsuk-label nhsuk-u-visually-hidden">
                Email address
              </label>
              <div class="nhsuk-hint" id="individual-email-hint">
                For example, mail@example.com
              </div>
              <input id="individual-email-field" class="nhsuk-input nhsuk-u-width-one-half" aria-describedby="individual-email-hint" autocomplete="email" spellcheck="false" type="email" value="" name="individual[email]">
            </div>-->

            <div class="nhsuk-form-group">
              <div class="nhsuk-u-reading-width">
                <label for="individual-status-field" class="nhsuk-label">
                  Phone number
                </label>
                <div class="nhsuk-hint" id="individual-phone-hint">
                  For example, 01632 960 001, 07700 900 982 or +44 0808 157 0192
                </div>
              </div>
              <input id="individual-phone-field" class="nhsuk-input nhsuk-u-width-one-quarter" aria-describedby="individual-phone-hint" autocomplete="tel" type="tel" value="" name="individual[phone]">
            </div>

            <div class="nhsuk-form-group">
              <div class="nhsuk-u-reading-width">
                <label for="individual-backup-landline-field" class="nhsuk-label">
                  Alternative phone number (optional)
                </label>
                <div class="nhsuk-hint" id="individual-backup-landline-hint">
                  For example, 01632 960 001, 07700 900 982 or +44 0808 157 0192
                </div>
              </div>
              <input id="individual-backup-landline-field" class="nhsuk-input nhsuk-u-width-one-quarter" aria-describedby="individual-backup-landline-hint" autocomplete="tel" type="tel" value="" name="individual[backup_landline]">
            </div>

          </fieldset>
        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>
    </div>
    
  </div>
</div>

<script type="text/javascript">
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
