{% extends 'layout.html' %}

{% block pageTitle %}
  Who do you live with?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Who do you live with?
    </h1>

    <form action="/accommodation/who-you-lived-with" method="post" class="form">
      {{ govukInput({
        id: 'household-contact-name',
        label: { text: 'Name' },
        name: 'householdContactName',
        value: data.householdContactName,
        classes: 'govuk-!-width-one-half'
      }) }}

      {{ govukInput({
        id: 'household-contacts-submitted',
        type: 'hidden',
        name: 'householdContactsSubmitted',
        value: 'true'
      }) }}

      {{ govukButton({ text: 'Continue' }) }}
    </form>
  </div>
</div>
{% endblock %}
