{% extends 'layout.html' %}

{% block pageTitle %}
  Confirm your phone number
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Confirm your phone number
    </h1>

    <form action="/personal-details/confirm-phone" method="post" class="form">
      {{ govukInput({
        id: 'phone',
        label: { text: 'Phone Number' },
        name: 'phone',
        value: data.phone,
        classes: 'govuk-!-width-one-half'
      }) }}

      {{ govukInput({
        id: 'personal-details-submitted',
        type: 'hidden',
        name: 'personalDetailsSubmitted',
        value: 'TEMPORARY UNTIL CYA PAGE IMPLEMENTED'
      }) }}

      {{ govukButton({ text: 'Continue' }) }}
    </form>
  </div>
</div>
{% endblock %}
