{% extends 'layout.html' %}

{% block pageTitle %}
What is your name? | UK Health Security Agency
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/personal-details/are-you-person" accept-charset="UTF-8" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your name?
            </h1>
          </legend>

          <!--<div class="govuk-form-group">
            <label for="full-name" class="govuk-label">
              Full name
            </label>
            <input id="full-name" class="govuk-input" autocomplete="name" spell_check="false" type="text" name="full-name" value="">
          </div>-->

          <div class="govuk-form-group">
            <label for="given-name" class="govuk-label">
              Given name(s)
            </label>
            <input id="given-name" class="govuk-input govuk-!-width-two-thirds" autocomplete="given-name" spell_check="false" type="text" name="given-names" value="">
          </div>

          <div class="govuk-form-group">
            <label for="family-name" class="govuk-label">
              Family name
            </label>
            <input id="family-name" class="govuk-input govuk-!-width-two-thirds" autocomplete="family-name" spell_check="false" type="text" name="family-name" value="">
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

<script>

</script>
{% endblock %}
