{% from 'components/_task-list.html' import taskList %}

{% extends 'layout.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Contact tracing
    </h1>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Information {% if completedSectionCount === totalSectionCount %} complete {% else %} incomplete {% endif %}</h2>
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ completedSectionCount }} of {{ totalSectionCount }} sections.</p>

    {{ taskList(sections) }}

  </div>
</div>
{% endblock %}
